---
layout: default
title: Proyectos
---
<h1>Mis proyectos</h1>
<h2>CE Videojuegos y Realidad Virtual</h2>
<ul class="project-list">
    {% for project in site.projects %}
	{% if project.category == "unity" %}
	    <li>
		<a href="{{ project.url }}">{{ project.title }}</a>
		<p>{{ project.desc }}</p>
	    </li>
	{% endif %}
    {% endfor %}
</ul>
<h2>Python</h2>
<ul class="project-list">
    {% for project in site.projects %}
	{% if project.category == "python" %}
	    <li>
		<a href="{{ project.url }}">{{ project.title }}</a>
		<p>{{ project.desc }}</p>
	    </li>
	{% endif %}
    {% endfor %}
</ul>
